@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,700&display=swap&subset=latin-ext');

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 480px;
// Small tablets (portrait view)
$screen-md-min: 720px;
// Tablets and small desktops
$screen-lg-min: 960px;
// Large tablets and desktops
$screen-xl-min: 1440px;

// Custom breakpoint - tablet logo
$screen-logo: 1290px;


// Medium devices
@mixin md {
    @media (min-width: #{$screen-md-min}) {
    @content;
    }
}

// Large devices
@mixin lg {
    @media (min-width: #{$screen-lg-min}) {
    @content;
    }
}

// Extra large devices
@mixin xl {
    @media (min-width: #{$screen-xl-min}) {
    @content;
    }
}
// Custom devices
@mixin rwd($screen) {
    @media (min-width: $screen+'px') {
    @content;
    }
}

$text-color: #252525;
$text-color-white: #fff;
$color-black: #000;
$color-white: #fff;
$color-grey: #888;
$color-red: #ff0000;
$opacity-main: 0.6;
$transition: all 0.4s ease;
$opacity-img: url('images/layout/bg_opacity_40.png');
$border-radius: 8px;
$border-radius-small: 4px;
$font-size-small: 12px;
$font-size-basic: 13px;
$font-size-semimedium: 20px;
$font-size-medium: 30px;
$font-size-large: 40px;
$padding: 16px;
$padding-lg: 32px;
$margin: 16px;
$katalog-ul--lineheight: 18px;
$katalog-ul-li--padding: 0 0 4px 0;
$package-color-basic: #a0c5db;
$package-color-medium: #208faf;
$package-color-premium: #4b5a74;
$top-slogan-height: 85px;
$arrow-color-white: #ffffffb3;
$arrow-color-black: #544848b3;

body {
    color: $text-color;
    margin: 0;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    a {
        text-decoration: none;
    }
}
p {
    font-size: $font-size-basic;
    text-align: left;
    margin: 0;
    padding: 0;
}
ul {
    li {
        font-size: $font-size-basic;
        text-align: left;
    }
}
h1 {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    font-size: $font-size-large;
}
h2, h3 {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: $font-size-medium;
}
h3 {
    font-size: $font-size-semimedium;
}
img.rwd-img {
    width: 100%;
}
.z-index-fix {
    z-index: 8888;
}
.border-bottom {
    border-bottom: 1px solid $color-grey;
}



#top-bar {
    background-image: $opacity-img;
    color: $color-white;
    transition: $transition;
    height: 90px;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    z-index: 10000;
    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        z-index: 101;
        li {
            display: block;
            text-align: center;
            line-height: 34px;
            border-top: 1px solid $color-white;
            background-color: #252525;
            font-family: 'Oswald', sans-serif;
            text-transform: uppercase; 
            font-size: $font-size-small;
            font-weight: 700;
            @include md {
                display: inline-block;
                border: 0;
                padding: $padding;
                background-color: transparent;
            }
            @include rwd(720) {
                position: relative;
                top: -22px;
            }
            @include rwd(1290) {
                position: static;
            }
            &:last-child {
                border-bottom: 1px solid $color-white;
                @include md {
                    border-bottom: 0;
                }
            }
            &.logo-tablet {
                display: none;
                padding-top: 0;
                height: 60px;
                top: 3px;
                @include rwd(720) {
                    display: inline-block;
                }
                @include rwd(1290) {
                    display: none;
                }
                a {
                    img {
                        width: 105px;
                    }
                }
            }
        }
    }
    a {
        color: $text-color-white;
    }
    a.logo {
        img {
            width: 105px;
        }
        @include rwd(720) {
            visibility: hidden;
        }
        @include rwd(1290) {
            visibility: visible;
        }
    }
    a#mobile-menu-trigger {
        position: absolute;
        font-size: 33px;
        right: $padding;
        top: 23px;
        @include md {
            display: none;
        }
    }
    &.mobile-menu--on {
        height: 202px;
    }
    #top-nav {
        display: none;
        @include md {
            display: inline-block;
            float: left;
            margin-top: -83px;
        }
    }
    &.bg-black {
        background-color: #000;
    }
}


#top {
    background-image: url('images/layout/bg_top-banner.jpg');
    background-size: cover;
    background-position: center;
    color: $text-color-white;
    margin-top: 0;
    padding-top: 72px;
    padding-bottom: 120px;
    position: relative;
    min-height: 450px;
    #top-info {
        width: 320px;
        margin-top: 100px;
        padding: 16px 40px 16px 16px;
        background-image: $opacity-img;
        border-radius: $border-radius; 
        h1 {
            text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.75);
        }
    }
    #top-slogan {
        background-color: $color-white;
        width: 336px;
        height: $top-slogan-height;
        border-top-right-radius: $border-radius;
        position: absolute;
        bottom: 0;
        z-index: 10;
        color: $text-color;
        &::after {
            content: "";
            position: absolute;
            background-color: transparent;
            left: 336px;
            bottom: 0;
            height: 50px;
            width: 25px;
            border-bottom-left-radius: $border-radius;
            box-shadow: 0 $border-radius 0 0 $color-white;
            @include md {
                left: 447px;
            }
        }
        @include md {
            width: 447px;
        }
        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            
            li {
                font-family: 'Oswald', sans-serif;
                text-transform: uppercase; 
                font-size: $font-size-small;
                font-weight: 700;
                display: table-cell;
                vertical-align: middle;
                text-align: center;
                border-right: 1px solid $color-grey;
                padding: 0 5px;
                &:last-child {
                    border-right: 0;
                }
                @include md {
                    padding: 0 12px;
                }
            }
        }
    }
    #white-stripe {
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: $color-white;
        width: 100%;
        height: $top-slogan-height;
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#feffff+0,ffffff+35,a0d8ef+38,a0d8ef+100 */
    background: transparent; /* Old browsers */
    background: -moz-linear-gradient(left,  #fff 0%, #fff 30%, transparent 31%, transparent 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #fff 0%,#fff 30%,transparent 31%,transparent 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #fff 0%,#fff 30%,transparent 31%,transparent 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='transparent',GradientType=1 ); /* IE6-9 */
        z-index: 1
    }
}

/*Package boxes*/

.package {
    position: relative;
    border-top-right-radius: $border-radius;
    padding: 0;
    background-color: $package-color-basic;
    width: 100%;
    height: 140px;
    color: $text-color-white;
    .package-name {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 142px;
        height: 142px;
        position: absolute;
        left: -16px;
        top: -1px;
        background-color: $color-white;
        border-radius: 400px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        h3 {
            width: 90px;
            line-height: 90px;
            border-radius: 200px;
            text-align: center; 
            background-color: $package-color-basic;
            color: $text-color-white;
            @include md {
                font-size: 38px;
            }
        }
    }
    .package-desc {
        display: inline-block;
        width: calc(100% - 100px);
        float: right;
        p {
            padding: $padding $padding 4px 35px;
        }
        a {
            border-radius: 4px;
            background-color: $color-white;
            font-size: 10px;
            text-transform: uppercase;
            padding: 4px 10px;
            font-weight: 700;
            font-family: 'Oswald', sans-serif;
            color: $package-color-basic;
            margin-left: 35px;
            margin-top: -8px;
            position: absolute;
            bottom: 8px;
        }
        .package-price-container {
            font-size: 12px;
            position: absolute;
            bottom: 0;
            right: 0;
            display: block;
            span {
                background-color: $color-white;
                border-top-left-radius: 4px;
                color: $package-color-basic;
                padding: 5px;
                font-weight: bold;
                font-family: 'Oswald', sans-serif;
                width: 90px;
                display: inline-block;
                i {
                    font-style: normal;
                    font-weight: 400;
                }
                &::after {
                    content: "";
                    position: absolute;
                    background-color: transparent;
                    right: 90px;
                    bottom: 0px;
                    height: 30px;
                    width: 30px;
                    border-bottom-right-radius: 8px;
                    box-shadow: 1px 8px 0 0 $color-white;
                }
            }
        }
    }
    &.basic {
        
    }
    &.medium {
        background-color: $package-color-medium;
        .package-name {
            h3 {
                width: 100px;
                line-height: 100px;                
                background-color: $package-color-medium;
            }
        }
        a {
            color: $package-color-medium;
        }
        .package-price-container {
            span {
                color: $package-color-medium;
            }
        }
    }
    &.premium {
        background-color: $package-color-premium;
        .package-name {
            h3 {
                width: 110px;
                line-height: 110px;
                background-color: $package-color-premium;
            }
        }
        a {
            color: $package-color-premium;
        }
        .package-price-container {
            span {
                color: $package-color-premium;
            }
        }   
    }
    
    @include md {
        height: auto;
        border-bottom-left-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
        .package-name {
            border-radius: 400px;
            position: relative;
            display: flex;
            width: 110%;
            height: auto;
            left: -5%;
            top: -5%;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            &::after {
                content: "";
                display: block;
                padding-bottom: 100%;
            }
        }
        .package-desc {
            display: block;
            width: 100%;
            float: none;
            p {
                padding: 0 $padding;
                height: 130px;
                text-align: center;
            }
            a {
                position: static;
                margin: 40px auto 20px auto;
                width: 140px;
                display: block;
                text-align: center;
                font-size: $font-size-semimedium;

            }
            .package-price-container {
                padding: $padding;
                width: 130px;
                height: 130px;
                border-radius: 90px;
                position: static;
                padding-top: 27px;
                font-size: $font-size-basic;
                margin: 0 auto;
                text-align: center;
                background-color: $color-white;
                color: $package-color-basic;
                span {
                    display: block;
                    font-size: 18px;
                    background-color: transparent;
                    bottom: 0;
                    width: 100%;
                    i {
                        font-size: $font-size-basic;
                        display: block;
                    }
                    &::after {
                        display: none;
                    }
                }
            }
        }
        &.basic {
            h3 {
                width: 150px;
                line-height: 150px;
                @include lg {
                    width: 240px;
                    line-height: 240px;
                }
            }
        }
        &.medium {
            .package-name {
                h3 {
                    width: 190px;
                    line-height: 190px;
                    @include lg {
                        width: 260px;
                        line-height: 260px;
                    }
                    
                }
            }
            .package-desc {
                .package-price-container {
                    color: $package-color-medium;
                }
            }
        }
        &.premium {
            .package-name {
                h3 {
                    width: 220px;
                    line-height: 220px;
                    @include lg {
                        width: 280px;
                        line-height: 280px;
                    }
                }
            }
            .package-desc {
                .package-price-container {
                    color: $package-color-premium;
                }
            }   
        }
    }
}



#how-it-works {
    background-image: url('/images/layout/bg_how-it-works.jpg');
    background-size: cover;
    margin-top: 50px;
    color: $text-color-white;
    h2 {
        color: $text-color-white;
    }
    .how-it-works--box {
        position: relative;
        border-bottom: 1px solid $color-white;
        img {
            height: 102px;
        }
        .image-container {
            border: 0;
            padding: 0;
            @include md {
                padding: 40px 0;
                border-right: 1px solid $color-white;
                &.no-border {
                    border-right: 0;
                }
            }
        }
        img.pos-fix {
            margin-left: 10px;
            @include md {
                margin-left: 0;
            }
        }
        h3 {
            position: absolute;
            color: $text-color-white;
            left: 120px;
            top: 30px;
            @include md {
                position: static;
                margin-bottom: $margin;
                margin-top: 60px
            }
        }
        p {
            position: absolute;
            color: $text-color-white;
            left: 120px;
            top: 70px;
            @include md {
                position: static;
                text-align: center;
                max-width: 220px;
                margin: 0 auto 60px auto;
            }
        }
        &:last-child {
            border-bottom: 0;
        }
        @include md {
            text-align: center;
            border-bottom: 0;
        }
    }
}

#references {
    background-image: url('/images/layout/bg_how-it-works.jpg');
    background-size: cover;
    margin-top: 100px;
    color: $text-color-white;
    padding: $padding-lg 0;

    .arche-hotel--logo--container {
        text-align: center;
    }
    #arche-hotel--logo {
        width: 194px;
        @include md {
            width: 100%;
        }
    }
    .arche-hotel--description--container {
        text-align: center;
        h3 {
            text-align: center;
            @include md {
                text-align: left;
            }
        }
        p {
            text-align: center;
            @include md {
                text-align: left;
            }
        }
        @include md {
            text-align: right;
        }
    }

    .btn {
        padding: 8px 16px;
        border-radius: $border-radius;
        border: 1px solid $color-white;
        text-align: center;
        display: inline-block;
        font-size: $font-size-basic;
        color: $text-color-white;
        transition: $transition;
        &:hover {
            color: $arrow-color-black;
            background-color: $arrow-color-white;
        }
    }
}


#katalog-main {
    box-shadow: 0 0 5px 0 rgba(54, 62, 77, 0.5);
    background-color: #ffffff;
    border-radius: $border-radius;
    margin-top: 20px;
    h2 {
        font-size: 16px;
    }
    ul {
        list-style-type: none;
        padding: 0;
        margin-top: 8px;
        li {
            padding: $katalog-ul-li--padding;
            margin: 0;
            font-size: $font-size-small;
            line-height: $katalog-ul--lineheight;
            text-align: left;
            &.two-lines {
                padding-bottom: 20px;
            }
        }
    }    

}
.katalog-data {
    background-color: #f4f4f4;
    border-radius: $border-radius;
    position: relative;
    display: inline-block;
    height: 100%;
    width: 20px;
    margin: 0 auto;
    h3 {
        font-size: $font-size-small;
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg); /* Safari */
        -moz-transform: rotate(90deg);/* Firefox */
        -ms-transform: rotate(90deg);/* IE */
        -o-transform: rotate(90deg);/* Opera */
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);/* Internet Explorer */
        position: absolute;
        color: $text-color-white;
        @include md {
            position: static;
            text-align: center;
            margin-top: 20px;
            transform: rotate(0deg);
            -webkit-transform: rotate(0deg); /* Safari */
            -moz-transform: rotate(0deg);/* Firefox */
            -ms-transform: rotate(0deg);/* IE */
            -o-transform: rotate(0deg);/* Opera */
            filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);/* Internet Explorer */
        }
         @include md {
            font-weight: 700;
         }
    } 
    ul {
        list-style-type: none;
        padding: 0;
        margin-top: 8px;
        overflow: hidden;
        li {
            padding: $katalog-ul-li--padding;
            margin: 0;
            font-size: 16px;
            line-height: $katalog-ul--lineheight;
            text-align: center;
            color: $text-color-white;
            i {
                &.fa-times {
                    color: #000;
                }

            }
            &.two-lines {
                padding: 0 0 21px 0;
                @include md {
                    padding: $katalog-ul-li--padding;
                }
            }
        }
        &.ul-mt1 {
            margin-top: 68px;
            @include md {
                margin-top: 30px;
            }
        }
        &.ul-mt2 {
            margin-top: 50px;
            @include md {
                margin-top: 48px;
            }
        }
        &.ul-mt3 {
            margin-top: 65px;
            @include md {
                margin-top: 47px;
            }
        }
        &.ul-mt4 {
            margin-top: 50px;
            @include md {
                margin-top: 48px;
            }
        }
        &.ul-mt5 {
            margin-top: 50px;
        }
        &.ul-mt6 {
            margin-top: 50px;
        }
        &.ul-mt7 {
            margin-top: 45px;
        }
    }    
    &.basic {
        background-color: $package-color-basic;
        h3 {
            top: 27px;
            left: -3px;
            @include md {
                left: 8px;
            }
        }
    }
    &.medium {
        background-color: $package-color-medium;
        h3 {
            top: 22px;
            left: -8px;
            @include md {
                left: 2px;
            }
        }
    }
    &.premium {
        background-color: $package-color-premium;
        h3 {
            top: 19.5px;
            left: -11px;
            @include md {
                left: -1px;
            }
        }
    }
    @include md {
        width: 49px;
    }
    @include lg {
        width: 69px;
    }
}
footer {
    background-image: url('/images/layout/bg_footer.jpg');
    background-size: cover;
    color: $text-color-white;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    a {
        color: $color-white;
        i {
            font-size: $font-size-semimedium;
        }
    }
    p.small {
        font-size: $font-size-small;
        line-height: 16px;
    }
    input[type='text'], 
    input[type='email'], 
    input[type='phone'], 
    input[type='checkbox'], 
    input[type='submit'], 
    textarea {
        width: 100%;
        border: 1px solid $color-white;
        border-radius: $border-radius;
        font-family: 'Oswald', sans-serif;
        text-align: center;
        color: $text-color-white;
        background-color: transparent;
        margin: 10px 0;
    }
    textarea {
        height: 100px;
    }
    input[type='checkbox'] {
        margin: 0;
        position: relative;
        top: -4px;
    }
    input[type='submit'] {
        margin: 0;
        border-color: $color-red;
    }
    ::-webkit-input-placeholder {
        color: $text-color-white;
    }
    ::placeholder {
        color: $text-color-white;
    }
    :-ms-input-placeholder {
        color: $text-color-white;
    }
    #contactFormContainer {
        transition: $transition;
        height: 330px;
        &.after-send {
            height: 150px;
        }
        .error {
            border: 1px solid $color-red;
            background-color: #d00000;
            &::after {
                content: "aaa";
                display: block;
            }
        }
        #rodoAgreementLabel {
            &.error {
                background-color: transparent;
                color: $color-red;
                border: 0;
            }
        }
    }
}


/*Images Lightbox*/
#lumenbox {
    position: fixed;
}
.lumenbox-container {
    border: 10px solid $color-white;    
}
.lumenbox-info {
    right: 0;
}
#lumenbox-close {
    top: 10px;
    background-color: $color-white;
    color: $text-color;
    width: 60px;
    text-align: center;
}

/*Slider*/
$glide-class: 'glide' !default;
$glide-element-separator: '__' !default;
$glide-modifier-separator: '--' !default;

.#{$glide-class} {
  $this: &;

  $se: $glide-element-separator;
  $sm: $glide-modifier-separator;

  position: relative;
  width: 100%;
  box-sizing: border-box;

  * {
    box-sizing: inherit;
  }

  &#{$se}track {
    overflow: hidden;
  }

  &#{$se}slides {
    position: relative;
    width: 100%;
    list-style: none;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    touch-action: pan-Y;
    overflow: hidden;
    padding: 0;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
    will-change: transform;

    &#{$glide-modifier-separator}dragging {
      user-select: none;
    }
  }

  &#{$se}slide {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    white-space: normal;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
    text-align: center;
    &#{$se}container {
        width: 100%;
        height: 200px;
        position: relative;
        text-align: center;
        background-color: #000;
        background-size: cover;        
        .display-image {
            color: $color-white;
            margin: auto;
            text-align: center;
            font-weight: 700;
            font-family: 'Oswald', sans-serif;
            text-transform: uppercase;
            transition: $transition;
            display: block;
            width: 100%;
            height: 100%;
            background-image: $opacity-img;

            &:hover {
                span {
                color: $arrow-color-black;
                background-color: $arrow-color-white;

                }
            }
            span{
                width: 100px;
                line-height: 30px;
                z-index: 100;
                display: inline-block;
                margin-top: 150px;
                border: 1px solid $arrow-color-white;
                border-radius: $border-radius;
                transition: $transition;
            }
        }
        @include md {
            height: 200px;
        }
    }
    a {
      user-select: none;
      -webkit-user-drag: none;
      -moz-user-select: none;
      -ms-user-select: none;
    }
  }

  &#{$se}arrows {
    -webkit-touch-callout: none;
    user-select: none;
  }

  &#{$se}bullets {
    -webkit-touch-callout: none;
    user-select: none;
  }

  &#{$sm}rtl {
    direction: rtl;
  }
}

.glide__arrow {
  position: absolute;
  display: block;
  top: 50%;
  z-index: 2;
  color: white;
  text-transform: uppercase;
  padding: 9px 12px;
  background-color: transparent;
  border: 0;
  border-radius: 4px;
  
  opacity: 1;
  cursor: pointer;
  transition: $transition;
  transform: translateY(-50%);
  line-height: 1; }
  .glide__arrow:focus {
    outline: none; }
  .glide__arrow:hover {
    border-color: white; background-color: $arrow-color-white; color: $arrow-color-black;}
  .glide__arrow--left {
    left: $margin; }
  .glide__arrow--right {
    right: $margin; }
  .glide__arrow--disabled {
    opacity: 0.33; }

.glide__bullets {
  position: absolute;
  z-index: 2;
  bottom: 2em;
  left: 50%;
  display: inline-flex;
  list-style: none;
  transform: translateX(-50%); }

.glide__bullet {
  background-color: rgba(255, 255, 255, 0.5);
  width: 9px;
  height: 9px;
  padding: 0;
  border-radius: 50%;
  border: 2px solid transparent;
  transition: all 300ms ease-in-out;
  cursor: pointer;
  line-height: 0;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
  margin: 0 0.25em; }
  .glide__bullet:focus {
    outline: none; }
  .glide__bullet:hover, .glide__bullet:focus {
    border: 2px solid white;
    background-color: rgba(255, 255, 255, 0.5); }
  .glide__bullet--active {
    background-color: white; }

.glide--swipeable {
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab; }

.glide--dragging {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing; }